
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
}
body, html{
  margin:0;
  padding:0;
}
.container {
    margin: 0px;
    width: 100%;
}
    
    
}
h2{
    
    font-size: 40px;
}
.jumbotron {
    text-align: center;
    font-family: 'Arvo', serif;
    background-image: url(../Wallpapers_Collection_217_090.jpg);
    background-attachment: local;
    background-position: center;
}
    
}
h2 {
    color: #D9534F;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
}

.homepage{
    text-align: center;
    
}
